In [32]:
import pandas as pd

small = pd.read_csv('hadoop_small_results.csv', header=None)

        0           1         2        3      4
0    Iter        date      time  config#   perf
1       0  2020-18-03  23:22:05        0   9990
2       1  2020-18-03  23:25:08        4   9606
3       2  2020-18-03  23:27:45        5   9873
4       3  2020-18-03  23:29:51        7  10720
..    ...         ...       ...      ...    ...
229   228  2020-19-03  10:15:41      541  21940
230   229  2020-19-03  10:18:29      542  18280
231   230  2020-19-03  10:22:07      543  18963
232   231  2020-19-03  10:25:44      545  19710
233   232  2020-19-03  10:29:22      546  19560

[234 rows x 5 columns]

In [ ]:
import matplotlib.pyplot as plt
plt.close('all')